{{include "html.head.section.html"}}

<body>
{{include 'navbar.section.html'}}

  <div class="container">
        <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header">
      {{if response.title:}}
        <div class="span12">
            <div class="page-header">
                <h1>
                    {{=response.title}}
                    <small>{{=response.subtitle or ''}}</small>
                </h1>
            </div>
        </div>
    {{pass}}
    </header>

    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->
    {{include 'footer.section.html'}}
  </div> <!-- /container -->

{{include 'script.section.html'}}
</body>
</html>

